# Creating a Baseball League Database
In this project, I create a relational database which stores information for a baseball league using SQL. Initially, table information is stored in the following csv files, each containing different information about the league:
- `appearance_type.csv`
- `game_log.csv`
- `park_codes.csv`
- `person_codes.csv`
- `team_codes.csv`

In [1]:
import pandas as pd

pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

## Exploring the Data

In [2]:
with open('game_log_fields.txt') as file:
    for line in file:
        print(line)

Field(s)  Meaning

    1     Date in the form "yyyymmdd"

    2     Number of game:

             "0" -- a single game

             "1" -- the first game of a double (or triple) header

                    including seperate admission doubleheaders

             "2" -- the second game of a double (or triple) header

                    including seperate admission doubleheaders

             "3" -- the third game of a triple-header

             "A" -- the first game of a double-header involving 3 teams

             "B" -- the second game of a double-header involving 3 teams

    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")

  4-5     Visiting team and league

    6     Visiting team game number

          For this and the home team game number, ties are counted as

          games and suspended games are counted from the starting

          rather than the ending date.

  7-8     Home team and league

    9     Home team game number

10-11     Visiting and home team score (unquoted)

   12     Length of game in outs (unquoted).  A full 9-inning game would

          have a 54 in this field.  If the home team won without batting

          in the bottom of the ninth, this field would contain a 51.

   13     Day/night indicator ("D" or "N")

   14     Completion information.  If the game was completed at a

          later date (either due to a suspension or an upheld protest)

          this field will include:

             "yyyymmdd,park,vs,hs,len" Where

          yyyymmdd -- the date the game was completed

          park -- the park ID where the game was completed

          vs -- the visitor score at the time of interruption

          hs -- the home score at the time of interruption

          len -- the length of the game in outs at time of interruption

          All the rest of the information in the record refers to the

          entire game.

   15     Forfeit information:

             "V" -- the game was forfeited to the visiting team

             "H" -- the game was forfeited to the home team

             "T" -- the game was ruled a no-decision

   16     Protest information:

             "P" -- the game was protested by an unidentified team

             "V" -- a disallowed protest was made by the visiting team

             "H" -- a disallowed protest was made by the home team

             "X" -- an upheld protest was made by the visiting team

             "Y" -- an upheld protest was made by the home team

          Note: two of these last four codes can appear in the field

          (if both teams protested the game).

   17     Park ID

   18     Attendance (unquoted)

   19     Time of game in minutes (unquoted)

20-21     Visiting and home line scores.  For example:

             "010000(10)0x"

          Would indicate a game where the home team scored a run in

          the second inning, ten in the seventh and didn't bat in the

          bottom of the ninth.

22-38     Visiting team offensive statistics (unquoted) (in order):

             at-bats

             hits

             doubles

             triples

             homeruns

             RBI

             sacrifice hits.  This may include sacrifice flies for years

                prior to 1954 when sacrifice flies were allowed.

             sacrifice flies (since 1954)

             hit-by-pitch

             walks

             intentional walks

             strikeouts

             stolen bases

             caught stealing

             grounded into double plays

             awarded first on catcher's interference

             left on base

39-43     Visiting team pitching statistics (unquoted)(in order):

             pitchers used ( 1 means it was a complete game )

             individual earned runs

             team earned runs

             wild pitches

             balks

44-49     Visiting team defensive statistics (unquoted) (in order):

             putouts.  Note: prior to 1931, this may not equal 3 times

                the number of innings pitched.  Prior to that, no

                putout was awarded when a runner was declared out for

                being hit by a batted ball.

             assists

             errors

             passed balls

             double plays

             triple plays

50-66     Home team offensive statistics

67-71     Home team pitching statistics

72-77     Home team defensive statistics

78-79     Home plate umpire ID and name

80-81     1B umpire ID and name

82-83     2B umpire ID and name

84-85     3B umpire ID and name

86-87     LF umpire ID and name

88-89     RF umpire ID and name

          If any umpire positions were not filled for a particular game

          the fields will be "","(none)".

90-91     Visiting team manager ID and name

92-93     Home team manager ID and name

94-95     Winning pitcher ID and name

96-97     Losing pitcher ID and name

98-99     Saving pitcher ID and name--"","(none)" if none awarded

100-101   Game Winning RBI batter ID and name--"","(none)" if none

          awarded

102-103   Visiting starting pitcher ID and name

104-105   Home starting pitcher ID and name

106-132   Visiting starting players ID, name and defensive position,

          listed in the order (1-9) they appeared in the batting order.

133-159   Home starting players ID, name and defensive position

          listed in the order (1-9) they appeared in the batting order.

  160     Additional information.  This is a grab-bag of informational

          items that might not warrant a field on their own.  The field

          is alpha-numeric. Some items are represented by tokens such as:

             "HTBF" -- home team batted first.

             Note: if "HTBF" is specified it would be possible to see

             something like "01002000x" in the visitor's line score.

          Changes in umpire positions during a game will also appear in

          this field.  These will be in the form:

             umpchange,inning,umpPosition,umpid with the latter three

             repeated for each umpire.

          These changes occur with umpire injuries, late arrival of

          umpires or changes from completion of suspended games. Details

          of suspended games are in field 14.

  161     Acquisition information:

             "Y" -- we have the complete game

             "N" -- we don't have any portion of the game

             "D" -- the game was derived from box score and game story

             "P" -- we have some portion of the game.  We may be missing

                    innings at the beginning, middle and end of the game.



Missing fields will be NULL.



In [3]:
game_log = pd.read_csv('game_log.csv')

print(game_log.shape)
game_log.head(10)

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(171907, 161)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y
5,18710511,0,Thu,CH1,NaN,2,CL1,NaN,4,18,10,48.0,D,NaN,V,NaN,CLE01,2500.0,120.0,12120534,01410004,41.0,15.0,1.0,3.0,3.0,10.0,0.0,0.0,0.0,8.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,4.0,4.0,0.0,0.0,24.0,11.0,4.0,3.0,0.0,0.0,39.0,13.0,1.0,2.0,1.0,7.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,-1.0,NaN,5.0,2.0,10.0,10.0,2.0,0.0,24.0,7.0,5.0,2.0,0.0,0.0,haynj901,J.H. Haynie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woodj106,Jimmy Wood,paboc101,Charlie Pabor,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,zettg101,George Zettlein,prata101,Al Pratt,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,7.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,8.0,folet101,Tom Foley,9.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,NaN,Y
6,18710513,0,Sat,WS3,NaN,2,CL1,NaN,5,12,8,54.0,D,NaN,NaN,NaN,CIN01,1200.0,150.0,141020004,004100012,42.0,9.0,2.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,NaN,-1.0,NaN,4.0,1.0,2.0,2.0,0.0,0.0,27.0,9.0,6.0,3.0,1.0,0.0,39.0,11.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,4.0,1.0,3.0,3.0,3.0,0.0,27.0,6.0,8.0,1.0,0.0,0.0,drapj901,Doc Draper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,younn801,Nick Young,paboc101,Charlie Pabor,braia102,Asa Brainard,prata101,Al Pratt,NaN,NaN,NaN,NaN,braia102,Asa Brainard,prata101,Al Pratt,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,whitd102,Deacon White,2.0,allia101,Art Allison,8.0,paboc101,Charlie Pabor,7.0,carlj102,Jim Carleton,3.0,kimbg101,Gene Kimball,4.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,white104,Elmer White,9.0,bassj101,John Bass,6.0,NaN,Y
7,18710513,0,Sat,CH1,NaN,3,FW1,NaN,2,14,5,54.0,D,NaN,NaN,NaN,FOR01,1500.0,105.0,053210012,200002001,45.0,17.0,5.0,2.0,0.0,10.0,0.0,0.0,0.0,1.0,NaN,1.0,2.0,NaN,-1.0,NaN,5.0,1.0,2.0,2.0,0.0,0.0,27.0,8.0,4.0,2.0,0.0,0.0,33.0,5.0,1.0,2.0,0.0,3.0,0.0,0.0,0.0,3.0,NaN,1.0,0.0,NaN,-1.0,NaN,4.0,1.0,6.0,6.0,0.0,0.0,27.0,8.0,7.0,3.0,0.0,0.0,haynj901,J.H. Haynie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woodj106,Jimmy Wood,lennb101,Bill Lennon,zettg101,George Zettlein,mathb101,Bobby Mathews,NaN,NaN,NaN,NaN,zettg101,George Zettlein,mathb101,Bobby Mathews,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,8.0,kellb105,Bill Kelly,9.0,NaN,Y
8,18710515,0,Mon,WS3,NaN,3,FW1,NaN,3,6,12,54.0,D,NaN,NaN,NaN,FOR01,NaN,140.0,030100101,003300123,42.0,8.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,NaN,-1.0,NaN,10.0,1.0,4.0,4.0,0.0,0.0,27.0,13.0,5.0,6.0,0.0,0.0,49.0,20.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,-1.0,NaN,10.0,1.0,1.0,1.0,0.0,0.0,27.0,6.0,9.0,2.0,0.0,0.0,holls901,Sam Holley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,younn801,Nick Young,lennb101,Bill Lennon,mathb101,Bobby Mathews,braia102,Asa Brainard,NaN,NaN,NaN,NaN,braia102,Asa Brainard,mathb101,Bobby Mathews,watef102,Fred Waterman,2.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,glenj102,John Glenn,9.0,burrh101,Henry Burroughs,5.0,leona101,Andy Leonard,7.0,braia102,Asa Brainard,1.0,hallg101,George Hall,8.0,berth101,Henry Berthrong,4.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,donnp101,Pete Donnelly,9.0,kellb105,Bill Kelly,8.0,NaN,Y
9,18710516,0,Tue,TRO,NaN,2,BS1,NaN,3,29,14,54.0,D,NaN,NaN,NaN,BOS01,2500.0,NaN,302604(11)30,610020221,64.0,26.0,3.0,1.0,0.0,26.0,0.0,0.0,0.0,2.0,NaN,0.0,3.0,NaN,-1.0,NaN,10.0,1.0,4.0,4.0,0.0,0.0,27.0,11.0,8.0,3.0,3.0,0.0,43.0,13.0,3.0,0.0,0.0,9.0,0.0,0.0,0.0,4.0,NaN,1.0,3.0,NaN,-1.0,NaN,6.0,1.0,10.0,10.0,0.0,0.0,27.0,17.0,15.0,2.0,1.0,0.0,rogem901,Mort Rogers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pikel101,Lip Pike,wrigh101,Harry Wright,mcmuj101,John McMullin,spala101,Al Spalding,NaN,NaN,NaN,NaN,mcmuj101,John McMullin,spala101,Al Spalding,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,6.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,jacks101,Sam Jackson,8.0,HTBF,Y

The 'game_log.csv' file lists detailed baseball game information such as the date of the game, where the game was played, result, visiting / home team statistics, player names, and player IDs.

The column descriptions are described in detail according to the text file printed above.

In [4]:
park_codes = pd.read_csv('park_codes.csv')

print(park_codes.shape)
park_codes.head(10)

(252, 9)

,park_id,name,aka,city,state,start,end,league,notes
0,ALB01,Riverside Park,NaN,Albany,NY,09/11/1880,05/30/1882,NL,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,NaN,Altoona,PA,04/30/1884,05/31/1884,UA,NaN
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,04/19/1966,NaN,AL,NaN
3,ARL01,Arlington Stadium,NaN,Arlington,TX,04/21/1972,10/03/1993,AL,NaN
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,04/11/1994,NaN,AL,NaN
5,ATL01,Atlanta-Fulton County Stadium,NaN,Atlanta,GA,04/12/1966,09/23/1996,NL,NaN
6,ATL02,Turner Field,NaN,Atlanta,GA,04/04/1997,10/02/2016,NL,NaN
7,ATL03,Suntrust Park,NaN,Atlanta,GA,04/14/2017,NaN,NL,NaN
8,BAL01,Madison Avenue Grounds,NaN,Baltimore,MD,07/08/1871,07/08/1871,NaN,WS3
9,BAL02,Newington Park,NaN,Baltimore,MD,04/22/1872,09/30/1882,NaN,BL1:1872-74; BL4:1873; BL2: 1882

The 'park_codes.csv' file lists the park IDs, names, and locations of different baseball stadiums. The main log file shares a column containing park IDs for each game recorded.

In [5]:
person_codes = pd.read_csv('person_codes.csv')

print(person_codes.shape)
person_codes.head(10)

(20494, 7)

,id,last,first,player_debut,mgr_debut,coach_debut,ump_debut
0,aardd001,Aardsma,David,04/06/2004,NaN,NaN,NaN
1,aaroh101,Aaron,Hank,04/13/1954,NaN,NaN,NaN
2,aarot101,Aaron,Tommie,04/10/1962,NaN,04/06/1979,NaN
3,aased001,Aase,Don,07/26/1977,NaN,NaN,NaN
4,abada001,Abad,Andy,09/10/2001,NaN,NaN,NaN
5,abadf001,Abad,Fernando,07/28/2010,NaN,NaN,NaN
6,abadj101,Abadie,John,04/26/1875,NaN,NaN,NaN
7,abbae101,Abbaticchio,Ed,09/04/1897,NaN,NaN,NaN
8,abbeb101,Abbey,Bert,06/14/1892,NaN,NaN,NaN
9,abbec101,Abbey,Charlie,08/16/1893,NaN,NaN,07/21/1897

The 'person_codes.csv' file contains information regarding players, managers, coaches, and umpires on all teams. Each person has a unique ID which can be linked to a corresponding ID column in the main log file.

In [6]:
team_codes = pd.read_csv('team_codes.csv')

print(team_codes.shape)
team_codes.head(10)

(150, 8)

  team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1
5     BL2     AA   1882  1891  Baltimore          Orioles       BL2    1
6     BLN     NL   1892  1899  Baltimore          Orioles       BL2    2
7     BL4    NaN   1873  1873  Baltimore        Marylands       BL4    1
8     BLA     AL   1901  1902  Baltimore          Orioles       BLA    1
9     NYA     AL   1903     0   New York          Yankees       BLA    2

The 'team_codes.csv' file contains informations regarding each team, such as their league, city, nickname, and franchise id. Each team is assigned a unique team_id which is linked to the main log file when referencing the visiting or home teams playing in a game (v_name, h_name).

## Importing Data into SQLite

In [7]:
import sqlite3

## Helper functions for SQLite
db = 'mlb.db'
def run_command(c):
    with sqlite3.connect(db) as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)

def run_query(q):
    with sqlite3.connect(db) as conn:
        return pd.read_sql(q, conn)

def show_tables():
    q = '''
    SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table","view");
    '''
    return run_query(q)

In [8]:
# Create tables for each dataframe in a new SQLite database

tables = {'game_log': game_log,
         'park_codes': park_codes,
         'person_codes': person_codes,
         'team_codes': team_codes}

with sqlite3.connect(db) as conn:
    for tName, tDf in tables.items():
        tDf.to_sql(tName, conn, index=False)
        
show_tables()

           name   type
0      game_log  table
1    park_codes  table
2  person_codes  table
3    team_codes  table

In [9]:
# Create column game_id in game_log
c1 = '''
ALTER TABLE game_log
ADD COLUMN game_id TEXT;
'''
run_command(c1)

# Insert unique IDs in game_id column
c2 = '''
UPDATE game_log
SET game_id = h_name || date || number_of_game
WHERE game_id IS NULL;
'''
run_command(c2)

In [10]:
# Check IDs input
q = '''
SELECT
    game_id,
    h_name,
    date,
    number_of_game
FROM game_log
LIMIT 5'''
run_query(q)

        game_id h_name      date  number_of_game
0  FW1187105040    FW1  18710504               0
1  WS3187105050    WS3  18710505               0
2  RC1187105060    RC1  18710506               0
3  CH1187105080    CH1  18710508               0
4  TRO187105090    TRO  18710509               0

## Normalized Database Schema
We will create our database using the schema presented below:

![Database Schema](https://s3.amazonaws.com/dq-content/193/mlb_schema.svg)

## Create Tables Without Foreign Key Relations
We will begin with creating tables without foreign key relations since the other tables are related to the these tables. Namely the tables:
- person
- park
- league
- appearance_type

In [11]:
# Create person table
c3 = '''
CREATE TABLE IF NOT EXISTS person (
    person_id TEXT PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);'''

# Insert values in person table
c4 = '''
INSERT OR IGNORE INTO person
SELECT
    id,
    first,
    last
FROM person_codes;
'''

# Display some rows
q_person = '''
SELECT * 
FROM person 
LIMIT 5;
'''

run_command(c3)
run_command(c4)
run_query(q_person)

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

In [12]:
# Create park table
c5 = '''
CREATE TABLE IF NOT EXISTS park (
    park_id TEXT PRIMARY KEY,
    name TEXT,
    nickname TEXT,
    city TEXT,
    state TEXT,
    notes TEXT
);'''

# Insert values in park table
c6 = '''
INSERT OR IGNORE INTO park
SELECT
    park_id,
    name,
    aka,
    city,
    state,
    notes
FROM park_codes;
'''

# Display some rows
q_park = '''
SELECT * 
FROM park 
LIMIT 5;
'''

run_command(c5)
run_command(c6)
run_query(q_park)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None

In [13]:
# Create league table
c7 = '''
CREATE TABLE IF NOT EXISTS league (
    league_id TEXT PRIMARY KEY,
    name TEXT
);
'''

# Insert data manually into the table
c8 = '''
INSERT OR IGNORE INTO league
VALUES
    ("NL", "National League"),
    ("AL", "American League"),
    ("AA", "American Association"),
    ("FL", "Federal League"),
    ("PL", "Players League"),
    ("UA", "Union Association")
;
'''

# Display some rows
q_league = '''
SELECT * 
FROM league 
LIMIT 5;
'''

run_command(c7)
run_command(c8)
run_query(q_league)

  league_id                  name
0        NL       National League
1        AL       American League
2        AA  American Association
3        FL        Federal League
4        PL        Players League

In [14]:
# Create appearance_type table
c9 = '''
DROP TABLE IF EXISTS appearance_type;
'''

c10 = '''
CREATE TABLE IF NOT EXISTS appearance_type (
    appearance_type_id TEXT PRIMARY KEY,
    name TEXT,
    category TEXT
);
'''

run_command(c9)
run_command(c10)

# Import csv table information into sql table
appearance_type = pd.read_csv('appearance_type.csv')

with sqlite3.connect(db) as conn:
    appearance_type.to_sql('appearance_type', conn, index=False, if_exists='append')

# Display some rows
q_app_type = '''
SELECT *
FROM appearance_type
LIMIT 5
'''
run_query(q_app_type)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense
3                 O4  Batter 4  offense
4                 O5  Batter 5  offense

## Adding the Remaining Tables
Next we will add the intermediate tables:
- game
- team

In [15]:
# Create team table
c11 = '''
CREATE TABLE IF NOT EXISTS team (
    team_id TEXT PRIMARY KEY,
    league_id TEXT,
    city TEXT,
    nickname TEXT,
    franch_id TEXT,
    FOREIGN KEY (league_id) REFERENCES league(league_id)
);
'''

# Insert data from team_codes table
c12 = '''
INSERT OR IGNORE INTO team
SELECT
    team_id,
    league,
    city,
    nickname,
    franch_id
FROM team_codes;
'''

# Display some rows
q_team = '''
SELECT *
FROM team
LIMIT 5
'''

run_command(c11)
run_command(c12)
run_query(q_team)

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1

In [16]:
# Create game table
c13 = '''
CREATE TABLE IF NOT EXISTS game (
    game_id TEXT PRIMARY KEY,
    date TEXT,
    number_of_game INTEGER,
    park_id TEXT,
    length_outs INTEGER,
    day BOOLEAN,
    completion TEXT,
    forfeit TEXT,
    protest TEXT,
    attendance INTEGER,
    length_minutes INTEGER,
    additional_info TEXT,
    acquisition_info TEXT,
    FOREIGN KEY (park_id) REFERENCES park(park_id)
);
'''

# Insert data from game_log table
c14 = '''
INSERT OR IGNORE INTO game
SELECT
    game_id,
    date,
    number_of_game,
    park_id,
    length_outs,
    CASE
        WHEN day_night = 'D' THEN 1
        WHEN day_night = 'N' THEN 0
        ELSE NULL
        END
        AS day,
    completion,
    forefeit,
    protest,
    attendance,
    length_minutes,
    additional_info,
    acquisition_info
FROM game_log;
'''

# Display some rows
q_game = '''
SELECT *
FROM game
LIMIT 5;
'''

run_command(c13)
run_command(c14)
run_query(q_game)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forfeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,FW1187105040,18710504,0,FOR01,54,1,None,None,None,200,120,None,Y
1,WS3187105050,18710505,0,WAS01,54,1,None,None,None,5000,145,HTBF,Y
2,RC1187105060,18710506,0,RCK01,54,1,None,None,None,1000,140,None,Y
3,CH1187105080,18710508,0,CHI01,54,1,None,None,None,5000,150,None,Y
4,TRO187105090,18710509,0,TRO01,54,1,None,None,None,3250,145,HTBF,Y

## Add team_appearance table

In [17]:
# Create team_appearance table
c15 = """
CREATE TABLE IF NOT EXISTS team_appearance (
    team_id TEXT,
    game_id TEXT,
    home BOOLEAN,
    league_id TEXT,
    score INTEGER,
    line_score TEXT,
    at_bats INTEGER,
    hits INTEGER,
    doubles INTEGER,
    triples INTEGER,
    homeruns INTEGER,
    rbi INTEGER,
    sacrifice_hits INTEGER,
    sacrifice_flies INTEGER,
    hit_by_pitch INTEGER,
    walks INTEGER,
    intentional_walks INTEGER,
    strikeouts INTEGER,
    stolen_bases INTEGER,
    caught_stealing INTEGER,
    grounded_into_double INTEGER,
    first_catcher_interference INTEGER,
    left_on_base INTEGER,
    pitchers_used INTEGER,
    individual_earned_runs INTEGER,
    team_earned_runs INTEGER,
    wild_pitches INTEGER,
    balks INTEGER,
    putouts INTEGER,
    assists INTEGER,
    errors INTEGER,
    passed_balls INTEGER,
    double_plays INTEGER,
    triple_plays INTEGER,
    PRIMARY KEY (team_id, game_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (league_id) REFERENCES league(league_id)
);
"""

run_command(c15)

# Insert Values in team_appearance
c16 = """
INSERT OR IGNORE INTO team_appearance
    SELECT
        h_name,
        game_id,
        1 AS home,
        h_league,
        h_score,
        h_line_score,
        h_at_bats,
        h_hits,
        h_doubles,
        h_triples,
        h_homeruns,
        h_rbi,
        h_sacrifice_hits,
        h_sacrifice_flies,
        h_hit_by_pitch,
        h_walks,
        h_intentional_walks,
        h_strikeouts,
        h_stolen_bases,
        h_caught_stealing,
        h_grounded_into_double,
        h_first_catcher_interference,
        h_left_on_base,
        h_pitchers_used,
        h_individual_earned_runs,
        h_team_earned_runs,
        h_wild_pitches,
        h_balks,
        h_putouts,
        h_assists,
        h_errors,
        h_passed_balls,
        h_double_plays,
        h_triple_plays
    FROM game_log

UNION

    SELECT    
        v_name,
        game_id,
        0 AS home,
        v_league,
        v_score,
        v_line_score,
        v_at_bats,
        v_hits,
        v_doubles,
        v_triples,
        v_homeruns,
        v_rbi,
        v_sacrifice_hits,
        v_sacrifice_flies,
        v_hit_by_pitch,
        v_walks,
        v_intentional_walks,
        v_strikeouts,
        v_stolen_bases,
        v_caught_stealing,
        v_grounded_into_double,
        v_first_catcher_interference,
        v_left_on_base,
        v_pitchers_used,
        v_individual_earned_runs,
        v_team_earned_runs,
        v_wild_pitches,
        v_balks,
        v_putouts,
        v_assists,
        v_errors,
        v_passed_balls,
        v_double_plays,
        v_triple_plays
    from game_log;
"""

run_command(c16)

q_team_app = """
SELECT * FROM team_appearance
WHERE game_id = (
                 SELECT MIN(game_id) from game
                )
   OR game_id = (
                 SELECT MAX(game_id) from game
                )
ORDER By game_id, home;
"""

run_query(q_team_app)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,SLU,ALT188404300,0,UA,15,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,ALT188404300,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,BSU,WSU188409250,0,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,WSU,WSU188409250,1,UA,10,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

## Add person_appearance table

In [18]:
# Create person_appearance table
c17 = '''
CREATE TABLE IF NOT EXISTS person_appearance (
    appearance_id INTEGER PRIMARY KEY,
    person_id TEXT,
    team_id TEXT,
    game_id TEXT,
    appearance_type_id TEXT,
    FOREIGN KEY (person_id) REFERENCES person(person_id),
    FOREIGN KEY (team_id) REFERENCES team(team_id),
    FOREIGN KEY (game_id) REFERENCES game(game_id),
    FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
);
'''

# Insert values into table
c18 = '''
INSERT OR IGNORE INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
)
    SELECT
        game_id,
        NULL,
        hp_umpire_id,
        'UHP'
    FROM game_log
    WHERE hp_umpire_id IS NOT NULL
    
UNION
    
    SELECT
        game_id,
        NULL,
        [1b_umpire_id],
        'U1B'
    FROM game_log
    WHERE [1b_umpire_id] IS NOT NULL
    
UNION
    
    SELECT
        game_id,
        NULL,
        [2b_umpire_id],
        'U2B'
    FROM game_log
    WHERE [2b_umpire_id] IS NOT NULL
    
UNION
    
    SELECT
        game_id,
        NULL,
        [3b_umpire_id],
        'U3B'
    FROM game_log
    WHERE [3b_umpire_id] IS NOT NULL
    
UNION

    SELECT
        game_id,
        NULL,
        lf_umpire_id,
        'ULF'
    FROM game_log
    WHERE lf_umpire_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        NULL,
        rf_umpire_id,
        'URF'
    FROM game_log
    WHERE rf_umpire_id IS NOT NULL
    
UNION
    
    SELECT
        game_id,
        v_name,
        v_manager_id,
        'MM'
    FROM game_log
    WHERE v_manager_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        h_name,
        h_manager_id,
        'MM'
    FROM game_log
    WHERE h_manager_id IS NOT NULL
    
UNION
    
    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_pitcher_id,
        'AWP'
    FROM game_log
    WHERE winning_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE 
            WHEN h_score > v_score THEN v_name
            ELSE h_name
            END,
        losing_pitcher_id,
        'ALP'
    FROM game_log
    WHERE losing_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        saving_pitcher_id,
        'ASP'
    FROM game_log
    WHERE saving_pitcher_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_rbi_batter_id,
        'AWB'
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL
    
UNION

    SELECT
        game_id,
        v_name,
        v_starting_pitcher_id,
        'PSP'
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL

UNION

    SELECT
        game_id,
        h_name,
        h_starting_pitcher_id,
        'PSP'
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL;
'''

# Template to insert remaining values into the columns
insertion_temp = """
INSERT INTO person_appearance (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION

    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""

run_command(c17)
run_command(c18)

for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        # Insert values with template
        run_command(insertion_temp.format(**query_vars))

In [19]:
# Display rows of table
q_per_app = '''
SELECT *
FROM person_appearance
LIMIT 10
'''

run_query(q_per_app)

   appearance_id person_id team_id       game_id appearance_type_id
0              1  maplb901    None  ALT188404300                UHP
1              2  curte801     ALT  ALT188404300                 MM
2              3  murpj104     ALT  ALT188404300                PSP
3              4  hodnc101     SLU  ALT188404300                PSP
4              5  sullt101     SLU  ALT188404300                 MM
5              6  hoopm101    None  ALT188405020                UHP
6              7  curte801     ALT  ALT188405020                 MM
7              8  learj102     ALT  ALT188405020                PSP
8              9  sullt101     SLU  ALT188405020                 MM
9             10  taylb103     SLU  ALT188405020                PSP

## Remove Redundant Tables
Now that the database is complete, we will remove the original tables we were working with.

In [20]:
# Initial database state
show_tables()

                 name   type
0            game_log  table
1          park_codes  table
2        person_codes  table
3          team_codes  table
4              person  table
5                park  table
6              league  table
7     appearance_type  table
8                team  table
9                game  table
10    team_appearance  table
11  person_appearance  table

In [21]:
tables_to_drop = ['game_log','park_codes','team_codes','person_codes']

dropTemplate = '''
DROP TABLE IF EXISTS {};
'''

for table_name in tables_to_drop:
    run_command(dropTemplate.format(table_name))

In [22]:
# Check that desired tables remain
show_tables()

                name   type
0             person  table
1               park  table
2             league  table
3    appearance_type  table
4               team  table
5               game  table
6    team_appearance  table
7  person_appearance  table